@page "/learn/bindprop"

<h2 class="text-success">Product</h2>
<div class="row">

    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Playground</h3><hr />
        <div>
            Available:
            <input type="checkbox" @bind-value="product.IsAvailable" checked="@(product.IsAvailable?"checked":null)" />
            <br />
        </div>
        <div>
            Price bind="@product.Price":
            <input type="number" @bind="@product.Price" @bind:event="oninput" />
            <br />
        </div>
        <div>
            Price bind-value="@product.Price" :
            <input type="number" @bind-value="@product.Price" @bind-value:event="oninput" />
        </div>
        <div>
            Product Properties:
            <select @bind="selectedProp">
                @foreach (var prop in product.ProductProperties)
                {
                    <option value="@prop.Key">@prop.Key</option>
                }

            </select>
        </div>
    </div>

    <div class="col-6 border p-3">
        <h3 class="text-primary">Product Summary</h3><hr />
        <div> Name: @product.Name<br /></div>
        <div>
            Active: @product.IsAvailable <br />
        </div>
        <div>
            Price : @product.Price <br />
        </div>
        <div>This product is: @(product.IsAvailable ? "Available" : "Not Available")<br /></div>
        <div> Property selected: @selectedProp<br /></div>
        <div>
            @if (!String.IsNullOrWhiteSpace(selectedProp))
            {
                <p>Property Value: @product.ProductProperties.FirstOrDefault(u=>u.Key==selectedProp).Value</p>
            }
        </div>
    </div>
</div>


@code {
    private string selectedProp = "";

    DemoProduct product = new()
        {
            ID = 1,
            Name = "Tea",
            IsAvailable = true,
            Price = 9.99,
            ProductProperties = new List<EcommerceModels.Learn.DemoProductProp>
    {
    new DemoProductProp{ID = 1, Key = "Color", Value = "Black"},
    new DemoProductProp{ID = 2, Key = "Flavor", Value = "Rose Jasmine"}
    }
        };
}
